.ipynb_checkpoints/
data/tweets_suspect.csv
data/tweets_preprocessed.csv
tweets_suspect.csv
tweets_preprocessed.csv
models/model_rf.pkl
models/X_tfidf.npy
models/X_w2v.npy
models/word2vec.model
tfidf_vectorizer.pkl
xgb_model.pkl
Rapport_Detection_Tweets_Suspects.docx