.ipynb_checkpoints/ 
tweets_suspect.csv 
tweets_preprocessed.csv 
/confusion_matrix.png
/courbe_roc.png
"models/model_rf.pkl" 
"models/X_tfidf.npy" 
"models/X_w2v.npy" 
"models/word2vec.model" 
"models/X_test.npy" 
"models/y_test.npy" 
